body {
    margin: 0 auto;
    max-width: 1024px;
}
header {
    height: 210px;
    margin-bottom: 20px;
}
header h1 {
    float: left;
    margin-top: 82px;
    width: 370px;
}
header img {
    float: right;
    height: 200px;
}

.navbar {
    margin-bottom: 50px;
}
nav span {
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
}

body.reviewed .navbar-nav>li.reviewed>a,
body.unreviewed .navbar-nav>li.unreviewed>a {
    color: white;
}

.form-signin {
    margin: 50px auto 10px;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-control {
    font-size: 16px;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.vote-buttons {
    margin: 0 auto;
    width: 310px;
}
.vote-buttons form {
    display: inline-block;
}
.vote-buttons form:first-child {
    margin-right: 20px;
}
.vote-buttons form:last-child {
    margin-left: 20px;
}
