{% extends 'base.html' %}

{% load markup %}

{% block content %}
<h2>{{ proposal.title }}</h2>

{{ proposal.author|markup }}

{{ proposal.abstract|markup }}

<div class="vote-buttons">
  <form action="{% url 'vote' pk=proposal.pk %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="vote" value="1" />
    <input type="submit" class="btn btn-primary" value="Interested" />
  </form>

  <form action="{% url 'vote' pk=proposal.pk %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="vote" value="0" />
    <input type="submit" class="btn btn-primary" value="Not Interested" />
  </form>

  <form action="/" method="GET">
    <input type="submit" class="btn" value="Skip" />
  </form>

  {% if vote %}
  <div class="previous-interest">
    <p>You previously voted:</p>
    <p><em>{% if vote.interested %}Interested{% else %}Not Interested{% endif %}</em></p>
  </div>
  {% endif %}
</div>
{% endblock %}
