{% extends 'base.html' %}


{% block content %}
{% if proposal_list %}
<ul class="list-group">
  {% for proposal in proposal_list %}
  <li class="list-group-item">
    <span>{{ proposal.title }}</span>
    <form action="{% url 'vote' pk=proposal.pk %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="vote" value="1" />
      <input type="submit" class="btn" value="Interested" />
    </form>
    <form action="{% url 'vote' pk=proposal.pk %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="vote" value="0" />
      <input type="submit" class="btn" value="Not Interested" />
    </form>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No more proposals!</p>
{% endif %}
{% endblock %}
