{% extends 'base.html' %}


{% block content %}
<div>
  <a href="{% url 'reviewed-proposals' %}">Reviewed Proposals</a>
  <span class="pull-right">{{ remaining }} proposals remaining of {{ total }}</span>
</div>
{% if proposal_list %}
<ul class="list-group">
  {% for proposal in proposal_list %}
  <li class="list-group-item">
    <a href="{% url 'proposal-detail' pk=proposal.pk %}">{{ proposal.title }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No more proposals!</p>
{% endif %}
{% endblock %}
